<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <h1>Hi There, {{username}}</h1>
    <hr>
    <a href='/search'><h2>Need a Snippet?</h2></a>
    <a href='create'><h2>Create a Snippet all your own!</h2></a>
    <hr>
    <h4><a href='/logout'>By Felicia!</a></h4>
  </body>
</html>
