<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Snippet</title>
  </head>
  <body>
    <title>Your Snippet</title>
    <h1>Welcome {{username}}</h1>
    <h1>Here isw your Code Snippet</h1>
    {{title}}
    <a href="/snippets/{{_id}}">{{title}}</a>
    
    <div class='links'>
      <h4><a href='/logout'>Logout</a></h4>
      <h4><a href="/create">Add your Snippet</a></h4>
      <a href='/home'><h2>Cancel</h2></a>
      <h4><a href='/home'>Go Home</a></h4>
      <h4><a href='/'>Index</a></h4>
    </div>
  </body>
</html>
